<%= render 'navbar' %>
<div class="splash">
  <div class="container">
    <h1>Heading text</h1>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    <p><a class="btn btn-default pill large red" role="button" href="#">Learn More About Me</a></p>
  </div>
</div>