<div class="splash">
  <div class="container">
    <h1>Heading text</h1>
    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    <p><a class="btn btn-default pill large red" role="button" href="#">Learn More About Me</a></p>
  </div>
</div>

<div class="container">
  <h1> Collection </h1>
  <hr>
  <div class="hover-products">
    <%= image_tag("http://figuresmarket.com/upload/product/527909050544.png", size: "250x300", class: "rounded img-fluid")  %>
    <%= image_tag("http://figuresmarket.com/upload/product/628086470380.png", size: "250x300", class: "rounded img-fluid")  %>
    <%= image_tag("http://figuresmarket.com/upload/product/455982712942.png", size: "250x300", class: "rounded img-fluid")  %>
    <%= image_tag("http://figuresmarket.com/upload/product/352835421284.png", size: "250x300", class: "rounded img-fluid")  %>
  </div>
  <br>

  <h1> Feature products </h1>
  <hr>
</div>