// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-header {
  background-color: transparent;
}

.splash {
  height: 35em;
  padding-top: 9em;
  margin-bottom: 2em;
  background-image: url(http://i.imgur.com/Sbh58eU.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}